<Files ".ht*">
deny from all
</Files>

<Limit GET POST PUT DELETE>
order deny,allow
allow from all
</Limit>

<ifModule mod_deflate.c>
    <filesMatch "\.(js|css|html|php)$">
        SetOutputFilter DEFLATE
    </filesMatch>
</ifModule>

# Enable gzip compression
    <ifModule filter_module>
        AddOutputFilterByType DEFLATE application/json
    </ifModule>

ErrorDocument 404 /index.php
DirectoryIndex index.php
<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?page=$1 [L,QSA]
</IfModule>
Options -indexes